<div class="header">
  <div class="wrapper">
    <app-logo></app-logo>
    <h4 class="heading">Video Course</h4>
  </div>
  <div class="wrapper" *ngIf="isAuthenticated">
    <section class="user-info">
      <span class="material-icons">person</span>
      <span> {{userName}} </span>
    </section>
    <button type="button" class="logout" (click)="handleLogout()">
      <span class="material-icons">exit_to_app</span>
      Log out</button>
  </div>
</div>
<div class="breadcrumbs" *ngIf="isAuthenticated">
  <a class="breadcrumbs-text" routerLink="/courses">Courses </a>
  <span class="breadcrumbs-text"> {{ breadcrumbs }}</span>
</div>
