<div [formGroup]="parent">
  <div class="authors-container"  >
    <label for="authors" class="authors-label">
      {{ 'EDIT_COURSE.AUTHORS' | translate }}:
      <span class="authors-error" *ngIf="parent.controls.authors.invalid">
        {{ 'EDIT_COURSE.AUTHORS_VALIDATION' | translate }}
      </span>
    </label>
    <input matInput type="text" class="input" formArrayName="authors" [placeholder]="'EDIT_COURSE.AUTHORS_PLACEHOLDER' | translate" (keydown)="onInput($event.target.value)">
  </div>
  <div class="dropdown">
    <ul class="dropdown-list" *ngIf="displayedAuthors?.length && (isDropdownOpen | async)">
      <li class="authors-item" *ngFor="let author of displayedAuthors"
          (click)='onSelectAuthor(author)'>
          {{ author.name }}
      </li>
    </ul>
  </div>
  <div class="authors-checked">
    <app-author *ngFor="let author of checkedAuthors" (deleteAuthorEvent)="onDelete($event)" [author]="author"></app-author>
  </div>
</div>
