<app-breadcrumbs></app-breadcrumbs>
<app-course-controls (searchEvent)="onItemsSearch($event)" (sortEvent)="onItemsSort($event)"></app-course-controls>
<ng-container *ngIf="coursesToBeDisplayed; else noCourses">
  <div class="courses-wrapper">
    <app-course-item *ngFor="let item of coursesToBeDisplayed" [item]="item" (deletedItemEvent)="onItemDelete($event)"></app-course-item>
  </div>
  <button type="button" class="button load-more" (click)="onLoadMore()">Load more</button>
</ng-container>
<ng-template #noCourses>
  <div class="no-courses">
    <span>No courses to display, please feel free to add new one.</span>
  </div>
</ng-template>
