<ng-container *ngIf="item">
  <div class="wrapper text-wrapper">
    <div class="wrapper">
      <h5 class="text-title">{{ item.title }}</h5>
      <div class="text-meta">
        <div class="text-meta__el">
          <span class="material-icons">access_time</span>
          <span>{{ item.duration }} min</span>
        </div>
        <div class="text-meta__el">
          <span class="material-icons">calendar_today</span>
          <span>{{ item.createdAt }}</span>
        </div>
      </div>
    </div>
    <p class="text-description"> {{ item.description }} </p>
  </div>
  <div class="wrapper icons-wrapper">
    <button class="button">
      <span class="material-icons">edit</span>
      Edit
    </button>
    <button class="button delete" (click)="handleDelete(item.id)">
      <span class="material-icons">delete</span>
      Delete
    </button>
  </div>
</ng-container>
