<section *ngIf="item" [ngClass]="{section: true, 'section-background': item.rated}" [appBorder]="item.creationDate">
  <div class="wrapper wrapper-text">
    <div class="wrapper">
      <div class="text-heading">
        <h5 class="text-heading__title">{{ item.title | uppercase }}</h5>
        <span *ngIf="item.rated" class="material-icons text-heading__star">star_rate</span>
      </div>
      <div class="text-meta">
        <div class="text-meta__el">
          <span class="material-icons">access_time</span>
          <span>{{ item.duration | duration }}</span>
        </div>
        <div class="text-meta__el">
          <span class="material-icons">calendar_today</span>
          <span>{{ item.creationDate | date : 'mediumDate' }}</span>
        </div>
      </div>
    </div>
    <p class="text-description"> {{ item.description }} </p>
  </div>
  <div class="wrapper wrapper-icons">
    <button class="button">
      <span class="material-icons">edit</span>
      Edit
    </button>
    <button class="button delete" (click)="handleDelete(item.id)">
      <span class="material-icons">delete</span>
      Delete
    </button>
  </div>
</section>
