@import "src/mixins.scss";

.section {
  border: 3px solid transparent;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 20px 0;
  margin-bottom: 30px;
  box-shadow: var(--default-shadow);
  &-background {
    background: var(--color-pink);
    background: linear-gradient(90deg, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
  }
}

.button {
  @include blue-button(65px, 24px);
  span {
    font-size: 11px;
  }
}

.wrapper {
  display: flex;
  justify-content: space-between;
  &-icons {
    justify-content: space-evenly;
    align-items: center;
    min-width: 150px;
    padding-right: 20px;
  }
  &-text {
    flex-direction: column;
    padding-left: 20px;
    padding-right: 30px;
  }
}

.text {
  &-heading {
    display: flex;
    &__title {
      font-size: 24px;
      margin: 0;
    }

    &__star {
      color: var(--color-gold);
    }
  }

  &-meta {
    @include flex-vertical-center();
    &__el {
      margin-right: 10px;
      display: flex;
      justify-content: space-evenly;
      span {
        margin-left: 5px;
      }
    }

    span {
      color: var(--color-grey);
      font-size: 14px;
    }
  }

  &-description {
    letter-spacing: 0;
    color: var(--color-text-dark);
    font-size: 14px;
    font-family: var(--default-font);
    padding-right: 30px;
  }
}
