<section [ngClass]="{section: true, 'section-background': item.isTopRated}" [appBorder]="item.date">
  <div class="wrapper wrapper-text">
    <div class="wrapper">
      <div class="text-heading">
        <h5 class="text-heading__title">{{ item.name | uppercase }}</h5>
        <span *ngIf="item.isTopRated" class="material-icons text-heading__star">star_rate</span>
      </div>
      <div class="text-meta">
        <div class="text-meta__el">
          <span class="material-icons">access_time</span>
          <span>{{ item.length | duration }}</span>
        </div>
        <div class="text-meta__el">
          <span class="material-icons">calendar_today</span>
          <span>{{ item.date | date : 'mediumDate' }}</span>
        </div>
      </div>
    </div>
    <p class="text-description"> {{ item.description }} </p>
  </div>
  <div class="wrapper wrapper-icons">
    <button class="button" [routerLink]="[index]">
      <span class="material-icons">edit</span>
      {{ 'COURSE_ITEM.EDIT' | translate }}
    </button>
    <button class="button delete" (click)="handleDelete(item.id)">
      <span class="material-icons">delete</span>
      {{ 'COURSE_ITEM.DELETE' | translate }}
    </button>
  </div>
</section>
