<app-header></app-header>
<main class="main">
  <form class="wrapper" (ngSubmit)="handleAddCourse()" [formGroup]="form">
    <h3> {{pageTitle}} </h3>
    <mat-form-field class="example-form-field">
      <mat-label>Title</mat-label>
      <input matInput type="text" formControlName="name">
    </mat-form-field>
    <mat-form-field class="example-form-field">
      <mat-label>Description</mat-label>
      <textarea matInput formControlName="description"></textarea>
    </mat-form-field>
    <app-input-duration [parent]="form" formControlName="length"></app-input-duration>
    <app-date-picker [parent]="form" formControlName="date"></app-date-picker>
    <app-input-authors [parent]="form" formControlName="authors"></app-input-authors>
    <div class="buttons">
      <button mat-button class="return" (click)="handleReturn()">Cancel</button>
      <button mat-button cdkFocusInitial class="add-course" type="submit" [disabled]="form.invalid">Save</button>
    </div>
  </form>
</main>
<app-footer></app-footer>
