@import "src/mixins.scss";

:host {
  padding: 30px 85px;
  display: flex;
  justify-content: space-between;
}


.search-button {
  background: var(--color-green);
  color: var(--color-white);
  width: 73px;
  margin-left: 10px;
}

.add-button {
  @include blue-button(110px, 36px);
  margin: 75px 25px 0;
  font-size: 14px;

}
