<div class="wrapper">
  <mat-form-field [formGroup]="form">
    <input matInput type="text" name="search" formControlName="search" (keyup)="updateQuery($event.target.value)" placeholder="Type to search">
    <mat-icon matPrefix>search</mat-icon>
  </mat-form-field>
</div>
<div class="aside-buttons">
  <button type="button" class="add-button" routerLink="/courses/new">
    <span class="material-icons">add</span>
    Add course
  </button>
  <button class="sorting-button" (click)="sortItems()">
    <span>Sort courses by {{ sortingValue }}: </span>
  </button>
</div>
