<div class="wrapper">
  <mat-form-field [formGroup]="form">
    <input matInput type="text" name="search" formControlName="search" (keyup)="updateQuery($event.target.value)" [placeholder]="'CONTROLS.SEARCH' | translate ">
    <mat-icon matPrefix>search</mat-icon>
  </mat-form-field>
</div>
<div class="aside-buttons">
  <button type="button" class="add-button" routerLink="/courses/new">
    <span class="material-icons">add</span>
    {{ 'CONTROLS.ADD_COURSE' | translate }}
  </button>
  <button class="sorting-button" (click)="sortItems()">
    <span>
      {{ 'CONTROLS.SORT_COURSES' | translate }}
      {{ (sortingValue === 'date' ? 'CONTROLS.SORTING_VALUE_DATE' : 'CONTROLS.SORTING_VALUE_LENGTH') | translate }}
    </span>
  </button>
</div>
