@import "src/mixins.scss";

:host {
  width: 86%;
  margin: 30px auto;
  display: flex;
  justify-content: space-between;
}

.search-button {
  background: var(--color-green);
  color: var(--color-white);
  width: 73px;
  margin-left: 10px;
}

.aside-buttons {
  display: flex;
  align-items: flex-end;
}

.add-button {
  @include blue-button(110px, 36px);
  margin: 75px 10px 0 25px;
  font-size: 14px;
}

.sorting-button {
  @include blue-button(110px, 36px);
  &__arrow {
    font-size: 20px;
  }
}
