:host {
  display: flex;
}

.length-input {
  display: flex;
}

.length-label {
  display: flex;
}

.length-modified {
  display: flex;
  justify-content: center;
  align-items: center;
}

.length-error {
  color: var(--color-red);
  margin-left: 10px;
}

input {
  width: 100px;
  border-top: 0;
  border-left: 0;
  border-right: 0;
}

input.ng-invalid.ng-touched{
  border: 1px solid var(--color-red);
}
