<div class="length-container" [formGroup]="parent">
  <label for="length" class="length-label">
    Duration:
    <span class="length-error" *ngIf="parent.controls.length.invalid">
      Please provide <strong>numeric value</strong>
    </span>
  </label>
  <div class="length-input" >
    <input id="length" type="text" formControlName="length" placeholder="Time in minutes">
    <div class="length-modified" *ngIf="!parent.controls.length.invalid"> {{parent.controls.length.value | duration}} </div>
  </div>
</div>
