@import "src/mixins.scss";

:host {
  @include header();
  justify-content: flex-end;
  position: sticky;
}

.footer-text {
  font-family: var(--dafault-font);
  letter-spacing: 0;
  line-height: 32px;
	font-size: 12px;
}
