@mixin flex-vertical-center {
  display: flex;
  align-items: center;
}

@mixin header {
  display: flex;
  height: 60px;
  padding: 0 125px;
  background: var(--color-dark);
  color: var(--color-white);
  font-family: 'Source Sans Pro', sans-serif;
}
